.container {
  width: 64em;
  max-width: calc(96%);
  margin: 10px auto;
}
.container .nav {
  color: #636363;
  width: 64em;
  max-width: calc(96%);
  background-color: #f7f7f7;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: default;
  text-align: center;
}
.container .main {
  position: relative;
  width: 64em;
  max-width: calc(96%);
  background-color: #ffffff;
  color: #636363;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  padding: 1em;
  margin-bottom: 10em;
}
.container .main .detail-menu {
  position: absolute;
  top: -3.48em;
  right: 0;
}
h1 {
  font-weight: 300;
  margin: 0 0 0.25em 0;
  letter-spacing: -0.025em;
  font-size: 2.5em;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
}
